 nav{
 	background-color: $bg-green;
 }
.fondo{
	background-image: url(../img/carousel-bg.jpg);
	padding:50px 0px;
}
.beautiful{
	color:$bg-white;
	text-align:center;
	padding:50px 0px;
}
.Plta{
	text-align:center;
	padding:30px 0px;
}
.content-box-1 {
background-color: #69D2E7;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-2 {
background-color: #A7DBDB;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-3 {
background-color: #B69C9C;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-4 {
background-color: #F38630;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-5 {
background-color: #FA6900;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-6 {
background-color: #E94C6F;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-7 {
background-color: #542733;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-8 {
background-color: #5A6A62;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-9 {
background-color: #C6D5CD;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-10 {
background-color: #FDF200;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-11 {
background-color: #DB3340;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-12 {
background-color: #E8B71A;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-13 {
background-color: #F7EAC8;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-14 {
background-color: #1FDA9A;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-15 {
background-color: #28ABE3;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-16 {
background-color: #588C73;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-17 {
background-color: #F2E394;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-18 {
background-color: #F2AE72;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-19 {
background-color: #D96459;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-20 {
background-color: #8C4646;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-21 {
background-color: #D0C91F;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-22 {
background-color: #85C4B9;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-23 {
background-color: #008BBA;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-24 {
background-color: #DF514C;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}
.content-box-25 {
background-color: #DC403B;
border: 1px solid #afcde3;
height:120px;
width:160px;
text-align:center;
display:inline-block;
margin:10px 5px;
}


